<template>
  <transition-group tag="ul" name="user-list">
    <li v-for="user in users" :key="user" @click="removeUser(user)">
      {{ user }}
    </li>
  </transition-group>

  <div>
    <input type="text" placeholder="Enter your name" ref="usernameInput" />
    <button @click="addUser">Add User</button>
  </div>
</template>

// ___________________________ SCRIPT ___________________________________
<script>
export default {
  data() {
    return {
      users: ['Max', 'Manuel', 'Anna', 'Chris', 'Juergen'],
    };
  },
  methods: {
    addUser() {
      const enteredName = this.$refs.usernameInput.value;
      if (enteredName === '') {
        return;
      }
      this.users.unshift(enteredName);
    },
    removeUser(user) {
      this.users = this.users.filter((usr) => usr !== user);
    },
  },
};
</script>

// ________________________________ STYLE ________________________________
<style scoped>
ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.user-list-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.user-list-enter-active {
  transition: all 1s ease-out;
}

.user-list-enter-to,
.user-list-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.user-list-leave-active {
  transition: all 1s ease-in;
  position: absolute;
}

.user-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.user-list-move {
  transition: transform 0.8s ease;
}
</style>
